// If you edit this file you need to compile the theme. See README.md for details.

// Global variable overrides. Must be declared before importing Valo.

// Defines the plaintext font size, weight and family. Font size affects general component sizing.
//$v-font-size: 16px;
//$v-font-weight: 300;
//$v-font-family: "Open Sans", sans-serif;

// Defines the border used by all components.
//$v-border: 1px solid (v-shade 0.7);
//$v-border-radius: 4px;

// Affects the color of some component elements, e.g Button, Panel title, etc
//$v-background-color: hsl(210, 0%, 98%);
// Affects the color of content areas, e.g  Panel and Window content, TextField input etc
//$v-app-background-color: $v-background-color;

// Affects the visual appearance of all components
//$v-gradient: v-linear 8%;
//$v-bevel-depth: 30%;
//$v-shadow-opacity: 5%;

// Defines colors for indicating status (focus, success, failure)
//$v-focus-color: valo-focus-color(); // Calculates a suitable color automatically
//$v-friendly-color: #2c9720;
//$v-error-indicator-color: #ed473b;

// For more information, see: https://vaadin.com/book/-/page/themes.valo.html
// Example variants can be copy/pasted from https://vaadin.com/docs/v8/framework/articles/ValoExamples.html

@import "../valo/valo.scss";

@mixin mytheme {
    @include valo;

    .drag-layout {
        outline: 2px dashed #d4d4d4;
        outline-offset: -10px;
    }

    .grid-overall {
        border: none;
        background-color: rgba(0,0,0,0);
    }

    .add-window {
        padding: 50px 30px 30px 30px;
        background-color: rgba(30,30,30,0.95);
    }


    .select-book-button:hover {
        background-image: none;
        background-color: #464646;
        content: "Add books!";
        color: #fafafa;
        border: none;
    }

    .login-background {
        background-image: url("../../images/login-background.png");
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .v-caption-text-color-white {
        color: white;
    }

    .text-color-white {
        color: white;
    }

    .gradient-background {
        background-image: none;
        background-image: linear-gradient(to bottom right, #fafafa, #464646);
    }

    &.v-app {
        background-image: url("../../images/login-background.png");
    }

    .v-layout.v-horizontal.v-widget valo-menu-title {
        background-color: #197de1;
        background-image: -webkit-linear-gradient(top, #1b87e3 2%, #166ed5 98%);
        background-image: linear-gradient(to bottom,#1b87e3 2%, #166ed5 98%);
    }

    .v-spacing {
        width: auto;
    }

    .v-label-h1 {
        color: ghostwhite;
    }


    .v-label-undef-w {
        color: white;
    }

    .v-captiontext {
        color: white;
    }



    .valo-menu {
        background-image: none;
        background-color: rgba(0,0,0,0.65);
        color: white;
    }

    .v-Notification.closable {
        background-color: rgba(0,0,0,0.25);
        color: white;
    }

    .v-grid-header .v-grid-cell {
        background-image: none;
        background-color: rgba(20,20,20,0.6);
        color: white;
    }

    input[type="checkbox"] {
        width: 13px;
        height: 13px;
        border-radius: none;
        background-image: none;
        background-color: white;
        color: #197de1;
    }

    .v-select select {
        border-radius: 0px;
        border: none;
        background: none;
  
    }

    .white-text{
        color:white;
    }

    .v-grid-cell v-select select {
        background:white;
        color:black;
    } 

    .v-grid-row > td {
        color: white;
        background-image: none;
        background-color: rgba(200,200,200,0.5);
    }

    .v-formlayout-captioncell .v-caption {
        color: white;
    }

    .no-background {
        background-image: none;
    }

    .black-text {
        color: black;
    }

    .v-window-maximizebox-disabled + .v-window-closebox {
        background: red;
    }

    .v-app input[type="text"] {
        border-radius: 0px;
    }



    .v-tabsheet-tabitemcell .v-caption.v-caption {
        color: white;
        font-size: 45px;
    }

    .v-button {
        border-radius: none;
    }

    .dropdown-select {
        color:black !important;
        background: white;
        border: 1px solid black;
    }
}
